In [ ]:
raise SystemExit("Stop right there!")

In [1]:
import pandas as pd
import json

In [2]:
# read in uncleaned JSON's as DataFrame
df_lst = []
for num in range(1, 9):
    filename = 'tmdb_movies_%s00k.json'%num
    each_file_df = pd.read_json(filename)
    df_lst.append(each_file_df)
df = pd.concat(df_lst, ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   adult                  545815 non-null  float64
 1   backdrop_path          107987 non-null  object
 2   belongs_to_collection  13666 non-null   object
 3   budget                 545815 non-null  float64
 4   genres                 545815 non-null  object
 5   homepage               337756 non-null  object
 6   id                     545815 non-null  float64
 7   imdb_id                423291 non-null  object
 8   original_language      545815 non-null  object
 9   original_title         545815 non-null  object
 10  overview               545815 non-null  object
 11  popularity             545815 non-null  float64
 12  poster_path            299801 non-null  object
 13  production_companies   545815 non-null  object
 14  production_countries   545815 non-null  object
 15  release_date           545815 non-null  object
 16  revenue                545815 non-null  float64
 17  runtime                468328 non-null  float64
 18  spoken_languages       545815 non-null  object
 19  status                 545815 non-null  object
 20  tagline                545815 non-null  object
 21  title                  545815 non-null  object
 22  video                  545815 non-null  float64
 23  vote_average           545815 non-null  float64
 24  vote_count             545815 non-null  float64
 25  credits                545815 non-null  object
 26  reviews                545814 non-null  object
dtypes: float64(9), object(18)
memory usage: 164.8+ MB

In [3]:
# store concatenated data in JSON
#df.to_json('tmdb_movie_all_unclean.json')